<ion-view hide-nav-bar="true" class="get-started">

<ion-slide-box>

<ion-slide>
<img src="img/getting_started_ground.png">
<div class="info">
  Plan your journey and get to the airport effortlessly by bus, taxi, Uber, ...
</div>
</ion-slide>

<ion-slide>
<img src="img/getting_started_airport.png">
<div class="info">
  Shop, work, relax and find your gate quickly.
</div>
</ion-slide>

<ion-slide>
<img src="img/logo_transp.png">
<div class="info">
  View flight data, plan your connection and have your pre-orders waiting for your at the destination.
</div>
</ion-slide>

</ion-slide-box>

<div class="center">
  <button class="button icon-left button-positive tl-btn" ui-sref="tab.bookings">Get Started</button>
</div>


</ion-view>
