.get-started .slider {
  height: 80%;
}

.get-started {
  background-color: #243B53;
}

.get-started img {
  width: 60%;
  margin-left: 20%;
  margin-top: 100px;
}

.get-started .info {
  color: white;
  font-size: 16px;
  margin: 0px 10%;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  line-height: 24px;
}
