<ion-view class="shop">

  <ion-nav-title>
      <h1 class="title starbucks">Starbucks</h1>
  </ion-nav-title>

  <ion-content>
    <div class="list">

      <a class="item item-thumbnail-left" href="#">
        <img src="img/coffee.jpg">
        <h2>Espresso</h2>
        <p>3,50€</p>
      </a>

      <a class="item item-thumbnail-left" href="#" ng-click="showBuyServiceModal()">
        <img src="img/Chestnut Latte.jpg">
        <h2>Chestnut Latte</h2>
        <p>4,00€</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/hamAndSwissPanini.jpg">
        <h2>Ham & Swiss Panini</h2>
        <p>5,00€</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/Zesty Chicken.jpg">
        <h2>Zesty Chicken & Black Bean Salad Bowl</h2>
        <p>5,50€</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/Evolution Fresh.jpg">
        <h2>Evolution Fresh</h2>
        <p>3,50€</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/Seasonal Harvest Fruit Blend.jpg">
        <h2>Seasonal Harvest Fruit Blend</h2>
        <p>4,90€</p>
      </a>

    </div>

  </ion-content>
</ion-view>
