.next-flight .flight-name {
  border-bottom: 1px solid white;
}

.next-flight .plane {
  text-align: center;
}

.next-flight .plane i:before {
  font-size: 26px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.next-flight .flight-name {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 600;
}

.next-flight .heading {
  font-size: 16px;
  font-weight: 600;
}

.next-flight .align-right {
  text-align: right;
}

.next-flight .time > div {
  align-self: center;
  font-size: 20px;
}
