<ion-view view-title="{{flight.departure.airport}} - {{flight.arrival.airport}}" class="next-flight">
<ion-content>

<div class="background-dark-blue padding">

  <div class="row">
    <div class="col">
      <div class="flight-name">FLIGHT {{flight.marketingAirline}}{{flight.flightNumber}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="heading">DEPARTURE</div>
    </div>
  </div>

  <div class="row time">
    <div class="col">
      <div class="flight-date departure">{{flight.departure.estimatedDateTime | date:'fullDate'}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="heading">TIME</div>
    </div>
  </div>

  <div class="row time">
    <div class="col departure-time">
      {{flight.departure.estimatedDateTime | date:'shortTime'}}
    </div>
    <div class="col plane">
      <i class="ion-android-plane"></i>
    </div>
    <div class="col align-right arrival-time">
      {{flight.arrival.estimatedDateTime | date:'shortTime'}}
    </div>
  </div>

  <div class="list">
    <div class="item item-icon-right background-dark-blue row">
      <div class="col">
        <div>MEALS</div>
        <div class="gray">Not selected yet</div>
      </div>
      <div class="col">
        <i class="icon ion-ios-arrow-forward"></i>
      </div>

    </div>

    <div class="item item-icon-right background-dark-blue row">
      <div class="col">
        <div>SEAT</div>
        <div class="gray">Not selected yet</div>
      </div>
      <div class="col">
        <i class="icon ion-ios-arrow-forward"></i>
      </div>

    </div>

  </div>


</div>

<div class="list">
  <a class="item item-icon-right">
    View plane information <i class="icon ion-ios-arrow-forward"></i>
  </a>

  <a class="item item-icon-right">
    In-flight orders <i class="icon ion-ios-arrow-forward"></i>
  </a>

  <a class="item item-icon-right">
    Choose in-flight entertainment <i class="icon ion-ios-arrow-forward"></i>
  </a>

  <a class="item item-icon-right">
    Plan your time at the airport <i class="icon ion-ios-arrow-forward"></i>
  </a>

</div>

</ion-content>
</ion-view>
