/* Empty. Add your own CSS if you like */

/*
Dark-blue: #243B53
Button-blue: #005DA0
*/

.tl-btn {
  border-radius: 10px;
  font-size: 22px;
  padding: 10px;
}

.button.button-positive.tl-btn {
  width: 80%;
  margin: auto;
  margin-left: 10%;
  background-color: #005DA0;
  margin-bottom: 20px;
}

.slider-pager .slider-pager-page {
  color: white;
}

#in-flight-state {
  width: 100%;
  height: 100%;
}

.notify-title {
  color: white;
}

.list .item i.notify-checkmark {
  font-size: 38px;
  color: #76EE00;
}

.notify-row-container {
  line-height: 1.2;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.notify-row-container .notify-row-header {
  margin-bottom: 0;
  font-weight: bold;
}

.wrap {
  word-break: break-all;
}

.color-white{
  color: #fff;
}

.bar-header {
  background: #243B53;
  color: white;
}

.text-right {
  text-align: right;
}

.gray {
  color: #BBB;
}
